.color1{background-color: aqua;}
.color2{background-color: rgb(62, 222, 110);}
.color3{background-color: rgb(0, 136, 16);}
.color4{background-color: rgb(225, 222, 39);}
.color5{background-color: rgb(88, 65, 9);}
.color6{background-color: rgb(218, 15, 15);}